@model List<Kiralama>

@if(TempData["basarili"] != null)
{
    <h2 class="text-danger">@TempData["basarili"]</h2>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kiralamalar</h1>
        </div>
    </div>
    <table class="display" id="tablo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Öğrenci Id</th>
                <th>Kitap Adı</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OgrenciId</td>
                    <td>@item.Kitap.KitapAdi</td>
                    <td>
                        <a class="btn btn-warning btn-lg" type="button" asp-controller="Kiralama" 
                        asp-action="EkleGuncelle" asp-route-id="@item.Id">Güncelle</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-lg" type="button" asp-controller="Kiralama" 
                        asp-action="Sil" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a class="btn btn-success btn-lg" type="button" asp-controller="Kiralama" asp-action="EkleGuncelle"
               style="border-radius: 10px">Yeni Kiralama Oluştur</a>
        </div>
    </div>
</div>
